<h1>VMware Cloud Services ARE VMware's New SaaS Offerings</h1>
<p>
Everything from:
CloudHealth, Wavefront, Secure State, Cloud Automation Services, etc
</p>
<img src="images/services.png" alt="VMware Cloud Services" style="height:748px;width:979px"></img>
